/* Filename: tracking.css */

/* 1. RESET & BASIC FONT */
body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #f0f0f0; 
    /* Pola titik-titik retro */
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

/* 2. CARD UTAMA */
.card { 
    background: white; 
    padding: 40px; 
    width: 350px; 
    text-align: center; 
    border: 3px solid #000;       
    border-radius: 0;             
    box-shadow: 10px 10px 0px #000; 
}

/* 3. TYPOGRAPHY */
h1 { 
    margin-bottom: 25px; 
    color: #000; 
    text-transform: uppercase;
    font-weight: 900;
    background-color: #ffde00; /* Kuning Stabilo */
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0px #000;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

/* 4. INPUT FIELD */
input { 
    width: 100%; 
    padding: 12px; 
    margin: 5px 0 20px 0; 
    border: 3px solid #000;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.2s;
}

input:focus {
    outline: none;
    background-color: #e0f7fa;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

/* 5. TOMBOL (BUTTONS) */
.btn { 
    width: 100%; 
    padding: 15px; 
    margin-top: 10px;
    cursor: pointer; 
    font-family: inherit;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: 3px solid #000;
    border-radius: 0;
    box-shadow: 5px 5px 0px #000;
    background: #304ffe;
    transition: all 0.1s;
    position: relative;
}

.btn:active {
    transform: translate(4px, 4px);
    box-shadow: 1px 1px 0px #000;
}

.btn-green { 
    background: #00e676;
    color: #000;
}

/* 6. UTILITIES (Hasil & Error) */
.result-box {
    margin-top: 25px; 
    padding: 15px; 
    text-align: left; 
    font-size: 14px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #888;
}

.error-msg {
    background-color: #ffcdd2;
    color: #b71c1c;
    border: 2px solid #b71c1c;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
}

hr {
    border: 0;
    border-top: 3px dashed #000;
    margin: 30px 0;
}